.premise {
    padding-left: 20px;
}

.conclusion {
    font-weight: bold;
    text-align: center;
}

.prompt {
    font-style: italic;
}

.center-content {
    text-align: center;
}

p.indent-line-breaks {
    margin-top: 0em;
    margin-bottom: 0em;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.jspsych-data-grid-cell{
    color: blue;
    font-size: large;
}