.premise {
    padding-left: 20px;
}

.conclusion {
    font-weight: bold;
    text-align: center;
}

.prompt {
    font-style: italic;
    text-align: justify;
}

.center-content {
    text-align: center;
    text-align: justify;
}

p.indent-line-breaks {
    margin-top: 0em;
    margin-bottom: 0em;
}

.jspsych-data-grid-cell{
    color: blue;
    font-size: xx-large;
}

.jspsych-test-grid-cell{
    color: black;
    font-size: xx-large; 
}

.column-left {
    /* border-right: 3px solid black; */
    float: left;
    width: 50%;
}

.column-right {
    /* border-left: 3px solid black; */
    float: right;
    width: 50%;
}
.jspsych-content p {
    text-align: left;
  
    max-width: 800px;
    margin: auto;
}

.column {
    float: center;
    /* width: auto; */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.prose p {
      padding-bottom: 20px;
      text-align: justify;
  }

div#consent p {
      padding-bottom: 20px;
      text-align: justify;
  }

div#consent ul {
      margin-block-start: 0;
  }
